.header {
  /* color: red; */
  text-color: red;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
  background-color: aquamarine;

  padding: 0 21rem;
  text-transform: capitalize;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 58vh;
  padding: 20px;
  /* text-align: center; */
  box-shadow: 0px 0px 4px #888;
  border-radius: 15px;
  gap: 37px;
}

.car.task-card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 4px #888;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
}

ul {
  display: grid;
  /* grid-template-columns: ; */
  gap: 20px;
}

form .input {
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #888;
}

.submit-conrol {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #888;
}
