<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="header">my to-do-list</h1>
    </header>

    <h1>individual task</h1>
    <form action="" method="patch">
      <label for="title">task title</label>
      <input type="text" name="title" id="" value=" <%=task.title  %>  " />
      <label for="task"></label>
      <input type="text" name="task" value=" <%= task.task  %>  " />
      <input type="submit" />
    </form>
  </body>
</html>
